# Permanent
.Rproj.user
.Rhistory
.DS_Store
Postprocessing/.DS_Store
Postprocessing/data/.DS_Store
Postprocessing/data/atlas/.DS_Store
MusMorph.Rproj
Postprocessing/preprocessing/

# Temporary
Postprocessing/Plot_LM_Meshes_atlas.R
Postprocessing/Sliding_LM.R
Postprocessing/data/atlas/Calgary_Adult_Cranium_Atlas_Landmarks.tag
Postprocessing/data/atlas/Calgary_Adult_Cranium_Atlas_Sparse_Landmarks.tag
Postprocessing/data/atlas/Calgary_Adult_Endocast_Atlas.ply
Postprocessing/data/atlas/Calgary_Adult_Skull_Atlas.ply
Postprocessing/data/atlas/Global_Adult_ONLY_Mandible_Atlas_lowres.ply
Postprocessing/data/atlas/Global_Adult_ONLY_Skull_Atlas_lowres.ply
Postprocessing/sliding_semis_skull.R
Postprocessing/Preprocessing_mandible_LMs.R
Postprocessing/data/atlas/mand_semis/
Preprocessing/DICOM_to_MNC.sh
Postprocessing/Preprocessing_skull.R
Postprocessing/data/atlas/